@using BlazorFluentUI.Themes.Default
@inherits LayoutComponentBase

@inject ThemeProvider ThemeProvider;

<div class="page animate__animated animate__fadeIn">
    <main>
        @Body
    </main>
</div>

@code {
    protected override Task OnInitializedAsync()
    {
        ThemeProvider?.UpdateTheme(new DefaultPaletteDark());
        return base.OnInitializedAsync();
    }
}