@inherits CloudDT.Shared.Components.EditorBase

<div class="container-fluid" style="height: 100%">
    <div class="row" style="height: 100%;">
        <div class="col-2 p-4">
            <CloudDT.Shared.UserControls.TreeView />
        </div>

        <div class="col-10" style="height: 100%">
            <div class="row" style="height: 100%">
                <div style="height: 40px;">
                    <CloudDT.Shared.UserControls.ToolBar />
                </div>
                <div style="height: calc(100% - 40px);">
                    <CloudDT.Shared.UserControls.Monaco />
                </div>
            </div>
        </div>
    </div>
</div>