@inherits CloudDT.Components.Editor

<div class="container-fluid" style="height: 100%;">
    <div class="row" style="height: 100%;">
        <div class="col-2 p-4">
            <CloudDT.Shared.UserControls.TreeView />
        </div>

        <div class="col-10">
            <div class="row" style="height: 100%">
                <div style="height: 5%;">
                    <CloudDT.Shared.UserControls.ToolBar />
                </div>
                <DefaultButton Text="Open Large Dialog" OnClick=@(args=> largeDialogOpen=true) />
                <Dialog Title="This is a large dialog menu."
                        SubText="This is the subtext area.  Below is the ChildContent area for components."
                        IsOpen=@largeDialogOpen
                        IsBlocking=@isBlocking
                        DialogType=@DialogType.LargeHeader
                        OnDismiss=@(args=> largeDialogOpen=false )>
                    <ChildContent>
                        <p>
                            <TextField Label="Sample TextField" />
                        </p>
                        <p>
                            <Dropdown ItemsSource=@items!.Select(x=>new DropdownOption { Key = x.CodeName!, Text = x.Description})
                                      Placeholder="Select an option"
                                      OnChange=@UncontrolledSingleChangeHandler />
                        </p>
                    </ChildContent>
                    <FooterTemplate>
                        <PrimaryButton Text="OK" OnClick=@(args=> largeDialogOpen=false) />
                        <DefaultButton Text="Cancel" OnClick=@(args=> largeDialogOpen=false) />
                    </FooterTemplate>
                </Dialog>
                <div style="height: 95%;">
                    <CloudDT.Shared.UserControls.Monaco />
                </div>
            </div>
        </div>
    </div>
</div>