@inherits CloudDT.Components.Editor

<div class="container-fluid" style="height: 100%;">
    <div class="row" style="height: 100%;">
        <div class="col-2 p-4">
            <CloudDT.Shared.UserControls.TreeView />
        </div>

        <div class="col-10">
            <div class="row" style="height: 100%">
                <div style="height: 5%;">
                    <CloudDT.Shared.UserControls.ToolBar />
                </div>
                <div style="height: 95%;">
                    <CloudDT.Shared.UserControls.Monaco />
                </div>
            </div>
        </div>
    </div>
</div>