@page "/Ports"
@inherits CloudDT.Shared.Pages.PortsBase

@using BlazorFluentUI.Lists

<div style="height: 100%;">

    <div style="height: 40px; width: 100%; padding-right: 20px; overflow: hidden;">
        <CommandBar Items=@CommandBarItems Style="float: left; width: 500px;" />
    </div>

    <div style="height: calc(100% - 40px); overflow-y: auto; padding: 0 40px; clear: both;">
        <DetailsList ItemsSource="Ports"
             Columns="Columns"
             GetKey=@(item=>item.Key)
             LayoutMode="DetailsListLayoutMode.Justified"
             TItem="KeyValuePair<int, string>"
             Selection="Selection"
             SelectionMode="SelectionMode.Multiple">
        </DetailsList>
    </div>
</div>

<div class="modal fade @ModalShow" id="exampleModal" tabindex="-1" aria-hidden="true" style="display: @ModalDisplay;">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content shadow animate__animated animate__bounceIn">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Forward Ports</h5>
                <button type="button" class="btn-close btn-close-white" @onclick=@(() => ShowDialog = false)></button>
            </div>

            <div class="modal-body">
                <div class="textFieldDiv">
                    <Label HtmlFor="StandardTF">PortNum</Label>
                    <TextField ForID="StandardTF" InputType=InputType.Number @bind-Value=Port/>
                </div>
            </div>

            <div class="modal-footer">
                <DefaultButton OnClick=@(() => ShowDialog = false) Text="Close"/>
                <PrimaryButton Text="Save changes" OnClick=Save/>
            </div>
        </div>
    </div>
</div>