@using BlazorFluentUI.Themes.Default
@inherits LayoutComponentBase

@inject ThemeProvider ThemeProvider;

<div class="page animate__animated animate__fadeIn">
    <main>
        <NavBar Direction="LayoutDirection.Horizontal" Items=@NavBarItems />
        <article>@Body</article>
    </main>
</div>

@code {
    public List<NavBarItem>? NavBarItems { get; set; }

    protected override Task OnInitializedAsync()
    {
        ThemeProvider?.UpdateTheme(new DefaultPaletteDark());

        NavBarItems = new()
        {
            new()
            {
                Text = "Board",
                NavMatchType = NavMatchType.AnchorOnly,
                Id = "Board",
                Key = "Board",
                Url = "/Board"
            },
            new()
            {
                Text = "Editor",
                NavMatchType = NavMatchType.AnchorOnly,
                Id = "Editor",
                Key = "Editor",
                Url = "/Editor"
            },
            new()
            {
                Text = "Console",
                NavMatchType = NavMatchType.AnchorOnly,
                Id = "Console",
                Key = "Console",
                Url = "/Console"
            },
            new()
            {
                Text = "CloudShell",
                NavMatchType = NavMatchType.AnchorOnly,
                Id = "CloudShell",
                Key = "CloudShell",
                Url = "/CloudShell"
            }
        };

        return base.OnInitializedAsync();
    }
}