@inherits CloudDT.Shared.Shared.OverviewLayoutBase

<div class="page animate__animated animate__fadeIn">
    <main>
        <NavBar Direction="LayoutDirection.Horizontal" Items=@NavBarItems />
        <article>@Body</article>
    </main>
</div>